src/main/java/de/othr/external/services/oauth/korbinianSchmidt/session/SessionService.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://impl.service.sw.kschmidt.de/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="SessionServiceService" targetNamespace="http://impl.service.sw.kschmidt.de/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://impl.service.sw.kschmidt.de/" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://impl.service.sw.kschmidt.de/">
  <xs:element name="create" type="tns:create"/>
  <xs:element name="createResponse" type="tns:createResponse"/>
  <xs:element name="end" type="tns:end"/>
  <xs:element name="endResponse" type="tns:endResponse"/>
  <xs:element name="link" type="tns:link"/>
  <xs:element name="linkResponse" type="tns:linkResponse"/>
  <xs:element name="prepareLink" type="tns:prepareLink"/>
  <xs:element name="prepareLinkResponse" type="tns:prepareLinkResponse"/>
  <xs:element name="validate" type="tns:validate"/>
  <xs:element name="validateResponse" type="tns:validateResponse"/>
  <xs:complexType name="prepareLink">
    <xs:sequence>
      <xs:element minOccurs="0" name="sessionToken" type="xs:string"/>
      <xs:element name="targetSiteId" type="xs:long"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="prepareLinkResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:sessionLinkDTO"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="sessionLinkDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="linkToken" type="xs:string"/>
      <xs:element name="fromSiteId" type="xs:long"/>
      <xs:element name="toSiteId" type="xs:long"/>
      <xs:element name="userId" type="xs:long"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="validate">
    <xs:sequence>
      <xs:element minOccurs="0" name="sessionToken" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="validateResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="end">
    <xs:sequence>
      <xs:element minOccurs="0" name="sessionToken" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="endResponse">
    <xs:sequence/>
  </xs:complexType>
  <xs:complexType name="create">
    <xs:sequence>
      <xs:element minOccurs="0" name="siteToken" type="xs:string"/>
      <xs:element minOccurs="0" name="loginData" type="tns:loginDataDTO"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="loginDataDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="username" type="xs:string"/>
      <xs:element minOccurs="0" name="email" type="xs:string"/>
      <xs:element minOccurs="0" name="password" type="xs:string"/>
      <xs:element minOccurs="0" name="expirationDate" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="createResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:sessionDTO"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="sessionDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="sessionToken" type="xs:string"/>
      <xs:element name="userId" type="xs:long"/>
      <xs:element minOccurs="0" name="username" type="xs:string"/>
      <xs:element minOccurs="0" name="creationDate" type="xs:string"/>
      <xs:element minOccurs="0" name="expirationDate" type="xs:string"/>
      <xs:element name="siteId" type="xs:long"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="link">
    <xs:sequence>
      <xs:element minOccurs="0" name="siteToken" type="xs:string"/>
      <xs:element minOccurs="0" name="linkObject" type="tns:sessionLinkDTO"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="linkResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:sessionDTO"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="exceptionType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="InvalidLoginData"/>
      <xs:enumeration value="InvalidSessionLink"/>
      <xs:enumeration value="InvalidSession"/>
      <xs:enumeration value="InternalFailure"/>
      <xs:enumeration value="NoSuchSite"/>
      <xs:enumeration value="CallerIpChanged"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="SessionServiceException" type="tns:SessionServiceException"/>
  <xs:complexType name="SessionServiceException">
    <xs:sequence>
      <xs:element minOccurs="0" name="reason" type="tns:exceptionType"/>
      <xs:element minOccurs="0" name="message" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="prepareLink">
    <wsdl:part element="tns:prepareLink" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="SessionServiceException">
    <wsdl:part element="tns:SessionServiceException" name="SessionServiceException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="validate">
    <wsdl:part element="tns:validate" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="end">
    <wsdl:part element="tns:end" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="endResponse">
    <wsdl:part element="tns:endResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="create">
    <wsdl:part element="tns:create" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createResponse">
    <wsdl:part element="tns:createResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="link">
    <wsdl:part element="tns:link" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="prepareLinkResponse">
    <wsdl:part element="tns:prepareLinkResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="validateResponse">
    <wsdl:part element="tns:validateResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="linkResponse">
    <wsdl:part element="tns:linkResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="SessionService">
    <wsdl:operation name="prepareLink">
      <wsdl:input message="tns:prepareLink" name="prepareLink">
    </wsdl:input>
      <wsdl:output message="tns:prepareLinkResponse" name="prepareLinkResponse">
    </wsdl:output>
      <wsdl:fault message="tns:SessionServiceException" name="SessionServiceException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="validate">
      <wsdl:input message="tns:validate" name="validate">
    </wsdl:input>
      <wsdl:output message="tns:validateResponse" name="validateResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="end">
      <wsdl:input message="tns:end" name="end">
    </wsdl:input>
      <wsdl:output message="tns:endResponse" name="endResponse">
    </wsdl:output>
      <wsdl:fault message="tns:SessionServiceException" name="SessionServiceException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="create">
      <wsdl:input message="tns:create" name="create">
    </wsdl:input>
      <wsdl:output message="tns:createResponse" name="createResponse">
    </wsdl:output>
      <wsdl:fault message="tns:SessionServiceException" name="SessionServiceException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="link">
      <wsdl:input message="tns:link" name="link">
    </wsdl:input>
      <wsdl:output message="tns:linkResponse" name="linkResponse">
    </wsdl:output>
      <wsdl:fault message="tns:SessionServiceException" name="SessionServiceException">
    </wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SessionServiceServiceSoapBinding" type="tns:SessionService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="prepareLink">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="prepareLink">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="prepareLinkResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SessionServiceException">
        <soap:fault name="SessionServiceException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="validate">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="validate">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="validateResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="end">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="end">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="endResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SessionServiceException">
        <soap:fault name="SessionServiceException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="create">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="create">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="createResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SessionServiceException">
        <soap:fault name="SessionServiceException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="link">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="link">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="linkResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SessionServiceException">
        <soap:fault name="SessionServiceException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SessionServiceService">
    <wsdl:port binding="tns:SessionServiceServiceSoapBinding" name="SessionServicePort">
      <soap:address location="http://im-lamport:8080/KSchmidtUserManager/SessionService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>